canvas, body, html {
    padding: 0;
    margin: 0;
}

* {
    /*overflow: hidden;*/
    user-select: none;
}

#header {
    display: flex;
    padding: 10px;
}

#tempAvg, #tempMin, #tempMax {
    padding: 0px;
    margin: 8px 0 8px 0;
}

#header div {
    margin: 0 5px 0 5px;
}

#listDevices button,h3 {
    margin: 0 5px 0 5px;
}

#output {
    display: flex;
    flex-wrap:wrap;
}

.day {
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    align-items: center;
    border: 1px solid;
    padding: 5px;
    margin: 0 3px 0 3px;
}
.dayd {

}
.monthd {
    color: #a8a8a8;
}
.avgd {
    font-weight: bold;
}
.mind {
    color: #3486eb;
}
.maxd {
    color: #eb5334;
}


